<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>CICD</title>

    <th:block th:replace="layout/commonHeader :: commonHeader"></th:block>
</head>
<body>
<th:block th:replace="layout/sidebar :: sidebar"></th:block>
<div class="content mt-4">

    <!-- 채팅 패널 -->
    <div class="panel">
        <h4>배포 모니터링</h4>

    </div>

    <div class="panel">
        <h4>실시간 로그(Kafka)</h4>
        <div id="logContainer" class="log-messages"></div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.5.2/dist/sockjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>

<script>
</script>
</body>
</html>
